
    <center>    <div class="text-justify" style="background-color: rgba(255, 255, 236, 0.33);;width: 70%">
        <h4><strong>Description</strong></h4>
        <h5 class="text-lowercase">
            Kuch bhi
        </h5>
</div><br></center>


{##}
{#        <div class="homepage-slider " style="width:100% ; height: 30%;">#}
{#        	<div id="sequence">#}
{#				<ul class="sequence-canvas">#}
{#					<!-- Slide 1 -->#}
{#					<li class="bg4">#}
{#						<!-- Slide Title -->#}
{#						<h2 class="title">Responsive</h2>#}
{#						<!-- Slide Text -->#}
{#						<h3 class="subtitle">It looks great on desktops, laptops, tablets and smartphones</h3>#}
{#						<!-- Slide Image -->#}
{#						<img class="slide-img" src="{% static 'flixx/images/blur-photos-26354-27045-hd-wallpapers.jpg' %}" alt="Slide 1" />#}
{#					</li>#}
{#					<!-- End Slide 1 -->#}
{#					<!-- Slide 2 -->#}
{#					<li class="bg3">#}
{#						<!-- Slide Title -->#}
{#						<h2 class="title">Color Schemes</h2>#}
{#						<!-- Slide Text -->#}
{#						<h3 class="subtitle">Comes with 5 color schemes and it's easy to make your own!</h3>#}
{#						<!-- Slide Image -->#}
{#						<img class="slide-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlGnedaOrvZfUBCx4Od_eTy1SThWWqYKFsxKrX1trav2O6Vc1SZA" alt="Slide 2" />#}
{#					</li>#}
{#					<!-- End Slide 2 -->#}
{#					<!-- Slide 3 -->#}
{#					<li class="bg1">#}
{#						<!-- Slide Title -->#}
{#						<h2 class="title">Feature Rich</h2>#}
{#						<!-- Slide Text -->#}
{#						<h3 class="subtitle">Huge amount of components and over 30 sample pages!</h3>#}
{#						<!-- Slide Image -->#}
{#						<img class="slide-img" src="https://s3.envato.com/files/146874232/preview%20image.jpg" alt="Slide 3" />#}
{#					</li>#}
{#					<!-- End Slide 3 -->#}
{#				</ul>#}
{#				<div class="sequence-pagination-wrapper">#}
{#					<ul class="sequence-pagination">#}
{#						<li>1</li>#}
{#						<li>2</li>#}
{#						<li>3</li>#}
{#					</ul>#}
{#				</div>#}
{#			</div>#}
{#        </div>#}
{#        <!-- End Homepage Slider -->#}
{##}
{#        {% load staticfiles %}#}
{#        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
{#        <script>window.jQuery || document.write('<script src="{% static 'flixx/js/jquery-1.9.1.min.js'%}"><\/script>')</script>#}
{#        <script src="{% static 'flixx/js/bootstrap.min.js'%}"></script>#}
{#        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>#}
{#        <script src="{% static 'flixx/js/jquery.fitvids.js'%}"></script>#}
{#        <script src="{% static 'flixx/js/jquery.sequence-min.js'%}"></script>#}
{#        <script src="{% static 'flixx/js/jquery.bxslider.js'%}"></script>#}
{#        <script src="{% static 'flixx/js/main-menu.js'%}"></script>#}
{#        <script src="{% static 'flixx/js/template.js'%}"></script>#}