{% extends 'flixx/base.html' %}
{% block title %}
    FliXx | Movie no. {{ movie.id }}
{% endblock %}
{% block navigation %}

<li><a href="/FliXx/watched-movies">Movies watched</a>
                    </li>

                    <li ><a href="/FliXx/recommend">Recommend</a>
                    </li>
                    <li ><a href="/FliXx/Xplore">Explore all movies</a>
                    </li>
                    <li><a href="#">Upcoming</a>
                    </li>
                    <li><a href="/FliXx/login">{% if user.is_authenticated %}LogOut{% else %}LogIn
                    {% endif %}</a>
                    </li>
{% endblock %}
{% block content %}
    <div class="container-fluid" style="background-color:#ffffff ">
        <h1  style="margin-left: 10%">Movie Tags</h1>
        <center>

            <div class="row">
                {% for i in g %}
                    <span class="col-md-3 badge">{{ i }}</span>
                {% endfor %}
            </div>
            <hr>

         <div class="container-fluid" style="background-color: #cccccc;border :solid 2px">
             <div class="row">
                 <div class="col-md-8">
                     <div class="container-fluid">
                         <h2 class="row " style="margin-bottom: 5%">{{ movie.title }}</h2>
                         <h4>{{ movie.overview }}</h4>
                         <a href="{{ movie.url }}" style="font-size:xx-large; margin-top: 10%">{{ movie.tag }}</a>
                     </div>
                 </div>

                 <span class="col-md-4 badge">
                     <div class="container-fluid">
                     <h2 class="row">{{ movie.dateofrelease }}</h2>
                         <h2 class="row">{{ movie.status }}</h2>
                         <h2 class="row">{{ movie.runtime }}(min)</h2>
                         <h3 class="row">Rating:{{ movie.averagerating }}</h3>
                         <h3 class="row">Earnings:{{ movie.revenue }}$</h3>
                         <h3 class="row">Popularity Score:{{ movie.popularity }}$</h3>
                         <h3 class="row">No. of Ratings:{{ movie.nutr }}$</h3>
                         <h3 class="row">Budget:{{ movie.Budget }}$</h3>
                     </div>
                 </span>

             </div>

         </div>



        </center>
    </div>

    <div class="container-fluid" style="margin: 5%; padding: 5% ;border: solid 1px; background-color: #e1def0">
        <h2>Reviews:</h2><br>
        {% for review in reviews %}
            <div class="badge">{{ review.user }} :-</div>
            <span>{{ review.l }}</span><br>
        {% endfor %}
    </div>
    <div class="container-fluid" style="margin: 10%">
    <div class="row">
    {% if user.is_authenticated %}
        {% include 'flixx/form.html' %}
    {% endif %}
    </div>
    </div>
{% endblock %}