{% extends 'flixx/base.html' %}
{% block title %}FliXx | Home{% endblock %}
{% block content %}
    <div class="container-fluid">

    <center><strong><h1 style=" ">Popular Movies</h1></strong></center>
    <span class="col-sm-8 float-right">
                            {% include 'flixx/form.html' %}
                </span>

                    <div class="col-sm-12 row" style="width: 100%;float: left; height:70%;overflow: auto;">
                        {% for movie in movies %}
                            <div class="float-left">

                                    {% include 'flixx/thumnails.html' %}

                            </div>
                    {% endfor %}

                    </div>


    </div>
{% endblock %}