<div class="container-fluid">
<form class="form-vertical" method="post" action="{{ url }}">
    {% csrf_token %}
{% for field in form %}
    <div class="row" style="padding: 1%">
                    {{ field.errors }}
                    <span class="float-left">{{ field.label_tag }}</span>
                    <div class="row">{{ field }}</div>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}

                      <input type="submit" class="btn btn-success" value={{ action }}>
</form></div>