{% extends 'flixx/base.html' %}
{% block title %}FliXx | Home{% endblock %}
{% block navigation %}

<li><a href="/FliXx/watched-movies">Movies watched</a>
                    </li>

                    <li ><a href="{% url 'flixx:recommend' %}">Recommend</a>
                    </li>
                    <li ><a href="{% url 'flixx:search' %}">Explore all movies</a>
                    </li>
                    <li><a href="#">Upcoming</a>
                    </li>
                    <li><a href="{% url 'flixx:login' %}">{% if user.is_authenticated %}LogOut{% else %}LogIn
                    {% endif %}</a>
                    </li>
{% endblock %}
{% block content %}
    <div>
        {% include 'flixx/description.html' %}
    <center><strong><h1>Latest Movies</h1></strong></center>
            {% if 'Username' not in request.session %}
                <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-9 row" style="overflow: auto;margin-right: 1%">
                        {% for movie in movies %}
                            <div class="float-left">

                                    {% include 'flixx/thumnails.html' %}

                            </div>
                    {% endfor %}
                    </div>
                {% if not user.is_authenticated %}
                    <span class="col-sm-3" style="">

                            {% include 'flixx/form.html' %}
                    </span>
                    {% endif %}
                </div>
                </div>

            {% else %}
                <div class="container-fluid">
                <div class="col-sm-12">
                    {% for movie in movies %}
                        <span class="float-left">

                                {% include 'flixx/thumnails.html' %}

                        </span>
                    {% endfor %}
                </div>
                </div>
            {% endif %}
    </div>
{% endblock %}